* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: #9db4c0;
}

body {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-color: #dbe1bc;
  background-image: url(../img/test-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3rem;
}

.main-container {
  margin-top: 6rem;
  margin-left: 6rem;
}

.shortExpl {
  margin-top: 2rem;
}

.shortExpl li {
  font-size: 1.35rem;
  margin-left: 1.75rem;
  padding: 0.5rem 0;
}
